name: 'Carp'
scopeName: 'source.carp'
type: 'tree-sitter'
parser: 'tree-sitter-carp'

fileTypes: [
  'carp'
]

comments:
  start: '; '

folds: [
  {
    type: 'if'
  }
  {
    type: 'while'
  }
  {
    type: 'match'
  }
  {
    type: 'with'
  }
  {
    type: 'let'
  }
  {
    type: 'do'
  }
  {
    type: 'fn'
  }
  {
    type: 'defn'
  }
  {
    type: 'defmacro'
  }
  {
    type: 'defndynamic'
  }
  {
    type: 'defmodule'
  }
  {
    type: 'deftype'
  }
]

scopes:
    'source_file': 'source.carp'

    'line_comment' : 'comment.line'
    'quote' : 'support.quote'

    '''
        scoped_identifier > module_identifier:nth-child(0),
        module_identifier,
        defmodule > module_identifier,
        use > upper_identifier,
        with > upper_identifier,
    ''' : 'support.module'

    '''
        register > identifier,
        defn > identifier:nth-child(1),
        defn > quote_expression > identifier,
        defndynamic > identifier,
        definterface > identifier:nth-child(1),
        definterface > quote_expression > identifier,
        defmacro > identifier,
        doc > identifier,
        sig > identifier,
    ''' : 'entity.name.function.def'

    '''
        call > scoped_identifier > identifier,
        call >identifier:nth-child(0),
        quote_expression > identifier,
        short_fn_ref > identifier,
    ''' : [
        {match: '^[A-Z\\d_]{1,}.+$', scopes: 'entity.name.enum'},
        {match: '^(doc|hidden)$', scopes: 'entity.attribute'},
        {match: '^(<|<=|%|=|>|>=|\\+|\\-|\\*|\\/|and|and\\*|or|or\\*|not|/=)$', scopes: 'keyword.operator'},
        {match: '^(for|case|cond|when|break|unless|defdynamic|let\\-do|while\\-do|defn\\-do)$', scopes: 'keyword.other'},
        'entity.name.function.call'
    ]

    'variant_identifier' : 'entity.name.enum'

    '''
        type,
        type > identifier,
        complex_type > identifier,
        type_identifier,
    ''' : 'support.type'

    'deftype > identifier' : [{match: '^[A-ZΑ-Ω]', scopes: 'support.type'}]

    '''
        interface_fn > "Fn",
        interface_fn > "λ",
    ''' : 'support.type.func'

    '''
        parameters > identifier,
        parameters > symbol,
        parameter_array > identifier,
        parameter_array > symbol,
        parameter_ident,
    ''' : 'entity.name.variable.parameter'

    '''
        identifier,
    ''' : [
        {match: '^[A-Z\\d_]{2,}$', scopes: 'constant.other'},
    ]

    'symbol' : 'support.variable.contant.sym'

    'short_ref > "&"' : 'support.reference'
    'short_copy > "@"' : 'support.copy'
    'short_fn_ref > "~"' : 'support.fn_ref'

    'doc' : 'entity.attribute.doc'
    'hidden' : 'entity.attribute.hidden'

    '"def"' : 'storage.modifier.def'
    '"let"' : 'storage.modifier.let'
    '"sig"' : 'storage.modifier.sig'
    '"deftype"'  : 'storage.modifier.deftype'
    '"defmacro"' : 'storage.modifier.defmacro'
    '"register"' : 'storage.modifier.register'
    '"defmodule"' : 'storage.modifier.defmodule'
    '"definterface"' : 'storage.modifier.definterface'
    '"defndynamic"'  : 'storage.modifier.defndynamic'
    '"register-type"' : 'storage.modifier.register_type'
    '"local-include"' : 'storage.modifier.include.local'
    '"system-include"' : 'storage.modifier.include.system'

    '"if"' : 'keyword.control.if'
    '"do"' : 'keyword.control.do'
    '"fn"' : 'keyword.control.fn'
    '"ref"' : 'keyword.control.ref'
    '"the"' : 'keyword.control.the'
    '"use"' : 'keyword.control.use'
    '"set!"' : 'keyword.control.set!'
    '"defn"' : 'keyword.control.defn'
    '"load"' : 'keyword.control.defn'
    '"with"' : 'keyword.control.with'
    '"while"' : 'keyword.control.while'
    '"match"' : 'keyword.control.match'
    '"address"' : 'keyword.control.address'

    'operators' : 'keyword.operator'
    'quote_expression > "\'"' : 'keyword.operator.quote'
    'other_str' : 'keyword.other'

    'unit' : 'constant.unit'
    'str_literal' : 'string.quoted.double'
    'pattern_literal': 'string.quoted.double.pattern'
    'char_literal' : 'string.quoted.single'
    'bool_literal' : 'constant.language.boolean'
    'float_literal': 'constant.number.float'
    'integer_literal': 'constant.number.integer'
